body {
    display: flex;
    flex-direction: column;
}

.frst-div {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.frst-div-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.info {
    display: flex;
}

.top-info {
    display: flex;
    flex-direction: column;
}